html {
  background: white;
  font-family: 'Droid Serif';
}

.section .reveal .state-background {
    background: #3C3C3C;
}

.section .reveal .present h1, .section .reveal .present p {
  margin-top: 10px;
  word-wrap: normal;
  -epub-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

.reveal section del {
  color: red;
}

.section .reveal .title {
  color: black;
}

.reveal section a:link {
  color: blue;
  text-decoration: underline;
}

pre, code {white-space:pre !important; overflow-x:scroll !important}

.reveal pre, .reveal code .r {
  width: 12in;
}

.smallcode pre code {
  font-size: 1.0em;
}

.reveal blockquote {
  background: black;
  color: white;
  padding: 15px;
}

/* Hard to read on black background */
.reveal blockquote a:not(.image) {
  color: #3f8dc6;
  text-decoration: underline;
}

/* Hard to read on black background */
.reveal blockquote a:not(.image):hover {
  color: #A3F1FF;
  text-decoration: underline;
}

.reveal .definition {
  background: #748915;
  color: white;
  padding: 15px;
  margin: -15px;
}

.reveal .definition emph {
  font-style: italic;
  font-weight: bold;
}

.reveal .definition strong {
  color: #d7eb7f;
  font-weight: bold;
}

.reveal .discuss {
  background: #891515;
  color: white;
  padding: 15px;
  margin: -15px;
}

.reveal .discuss emph {
  font-style: italic;
  font-weight: bold;
}

.reveal .discuss strong {
  color: #f1a2a4;
  font-weight: bold;
}

blockquote {
  background: #157878;
  color: white;
  padding: 15px;
  margin: -15px;
}

blockquote a {
  color: blue;
}

blockquote emph {
  font-style: italic;
  font-weight: bold;
}

blockquote strong {
  color: #79E6E6;
  font-weight: bold;
}

.image-border {
	text-decoration: none;
	border: 0 none;
}

.reveal .nobullet {
  color: white;
}

.reveal .nobullet span {
  color: black;
}

.column blockquote {
  background: black;
  color: white;
  padding: 15px;
}

.reveal .colspan div {
    -ms-column-count: 2;
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}

/* Useful for column span before columns */
.reveal .slides section .column .span {
  width: 100%;
}

.footer {
    font-size: 12pt;
    position: absolute;
    bottom: 10px;
    left: 100px;
}

/* Get rid of word wrap */
.reveal h1, .reveal h2, .reveal h3 {
  word-wrap: normal;
  -epub-hyphens: none;
  -moz-hyphens: none;
  -webkit-hyphens: none;
  hyphens: none;
}

.smalltable table {
  font-size: 0.5em;
}

.spanner {
    color: black; /* background: #E8E8E8; */
    position: fixed; /* top: 90%; */
    text-align:center; width:100%;
}

/* Make sure front page image is in the right place */
.fpimg {
    position: absolute;
    right: 10%;
    bottom: 10%;
}